/* Estilos para el usuario en el header */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-weight: 600;
  color: var(--color-primario);
}

.btn-login {
  text-decoration: none;
  color: var(--color-texto-principal);
  font-weight: 600;
  border: 2px solid var(--color-primario);
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.2s;
}

.btn-login:hover {
  background-color: var(--color-primario);
  color: white;
}

.btn-logout {
  background: none;
  border: none;
  color: #777;
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}