/* --- Estilos de la Barra Lateral --- */
.sidebar {
  width: 260px; /* Ancho de la barra lateral */
  background-color: #2C3E50;
  color: #ECF0F1;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  position: sticky;
  top: 0; 
}

.sidebar-header {
  padding: 25px 20px;
  border-bottom: 1px solid #34495E;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #FFFFFF;
}

/* logo */
.logo-placeholder {
  width: 50px;
  height: 50px;
  background-color: var(--color-primario);
  color: var(--color-superficie);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 10px;
  flex-shrink: 0; 
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  padding-top: 20px;
}

.sidebar-nav a {
  padding: 18px 25px;
  color: #BDC3C7; 
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.sidebar-nav a:hover {
  background-color: #34495E; 
  color: #FFFFFF; 
  border-left: 4px solid var(--color-primario);
  padding-left: 21px; 
}