.app-layout-horizontal {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo);
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 30px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}