/* --- Estilos del Layout Principal --- */
.app-layout {
  display: flex;
  background-color: var(--color-fondo);
  min-height: 100vh;
}

.main-content {
  flex: 1; 
  padding: 30px;
  overflow-y: auto; /* Permite scroll solo en esta área */
}